@media only screen and (min-width: 1164px) {

    /* For desktop: */
    .leftHeader .containerMenu {
        visibility: visible;

    }

    .leftHeader .image {
        visibility: hidden;
        width: 0px;
    }

    .rightHeader .image {
        visibility: hidden;
    }

    .headerPage {
        height: 550px;
    }
    .footer .containerMenu{
        width: 30%;
        text-align: center;
    } 

}

@media only screen and (max-width:1163px) and (min-width:767px) {

    .leftHeader .containerMenu {
        visibility: hidden;
        width: 100px;
    }

    .container {
        justify-content: center;
    }

    .leftHeader .image {
        height: 200px;
    }

    .middleHeader img {
        visibility: hidden;
        width: 0px;
    }

    .rightHeader .containerMenu {
        visibility: hidden;
        width: 0px;
    }

    .headerPage {
        background-size: 150%;
    }
   
    #image2{
        width: 350px !important;
        height: 400px !important;
        margin-left: 50px !important;
    }
    #image1 {
        width: 700px !important;
        height: 400px !important;
    }
    .container500{
      text-align: center;
    }
    .container300 {
        text-align: center;
    }
    .footer .containerMenu{
        width: 30%;
        text-align: center;
    } 
    .picturesZone{
        width: 700px;
    }
    #pic1 {
        width: 330px !important ;
        height: 220px !important;
    }
    #pic2{
        width: 480px !important ;
        height: 250px !important;
    }
    #pic3{
        height: 250px !important;
        width: 180px !important;
    }
    #pic4{
        width: 680px !important;
    }
    #pic5 {
        width: 330px !important;
    }
    .homeCarousel {
        background-position:center center ;
        /* background-size: 150%; */
        
    }
    @keyframes zoominoutsinglefeatured {
        0% {
          background-size: 220%;
        }
        50% {
          background-size: 250%;
        }
      }
}

@media only screen and (max-width: 767px) and (min-width:400px) {

    /* For mobile phones: */
    .leftHeader .containerMenu {
        visibility: hidden;
        width: 0px;
    }

    .leftHeader .image {
        max-height: 150px;
    }

    .middleHeader img {
        visibility: hidden;
        width: 0px;
    }

    .rightHeader .containerMenu {
        visibility: hidden;
        width: 0px;

    }

    .container {
        max-width: 90%;
        justify-content: center;
    }

    .container .container500 {
        margin-top: 20px;


    }

    .containerImage {
        width: 300px;
        justify-content: center;
    }

    .headerPage {
        background-size: 180%;
        height: 400px;

    }

    .headerOpacity {
        /* width: 100%; */
        max-height: 400px;

    }

    .headerPage h1 {
        font-size: 48px;
    }

    .container h2 {
        font-size: 48px;
    }
    .spaceBetween {
        /* justify-content:baseline; */
        flex-wrap: wrap;
    }
    .container .container500 {
        margin-top: 20px;
        width: 90%;
    }
    #image1 {
        height: 250px !important;
        width: 380px !important;
    }
    #image2{
        width: 310px !important;
    }
    .container700{
        width: 300px;
    }
    .container500{
        width: 100%;
        margin: 0px;
        text-align: center;
    }
    .container300 {
        text-align: center;
    }
    .footer .containerMenu{
        width: 90%;
        margin-top: 50px;
        margin-bottom: 20px;
    } 
    .picturesZone{
        width: 400px;
    }
    #pic1 {
        width: 390px !important ;
        height: 250px !important;
    }
    #pic2{
        width: 390px !important ;
        height: 250px !important;
    }
    #pic3{
        width: 390px !important;
        height: 450px !important;
    }
    #pic4{
        width: 390px !important;
        height: 250px !important;
    }
    #pic5 {
        width: 190px !important;
        height: 250px !important;
        margin-right: 0px!important;
    }
    .homeCarousel {
        background-position:center center ;
        /* background-size: 200%;    */
    }
    @keyframes zoominoutsinglefeatured {
        0% {
          background-size: 300%;
        }
        50% {
          background-size: 350%;
        }
      }

}
@media only screen and (max-width:470px){
    .picturesZone{
        width: 300px;
    }
    #pic1 {
        width: 280px !important ;
        height: 180px !important;
    }
    #pic2{
        width: 280px !important ;
        height: 180px !important;
    }
    #pic3{
        width: 280px !important;
        height: 350px !important;
    }
    #pic4{
        width: 280px !important;
        height: 180px !important;
    }
    #pic5 {
        width: 280px !important;
        height: 350px !important;
    }
}

@media only screen and (max-width:399px) {
    .headerApp {
        height: 100px;

    }

    .leftHeader .containerMenu {
        visibility: hidden;
        width: 0px;
    }

    .leftHeader .image {
        height: 70px;
    }

    .middleHeader img {
        visibility: hidden;
        width: 0px;
    }

    .rightHeader .containerMenu {
        visibility: hidden;
        width: 0px;
    }

    .rightHeader .pointer {
        width: 20px;
    }

    .container {
        max-width: 90%;
        justify-content: center;
    }
    .spaceBetween {
        /* justify-content:baseline; */
        flex-wrap: wrap;
    }

    .container .container500 {
        margin-top: 20px;
        width: 300px;


    }

    .containerImage {
        width: 300px;
        justify-content: center;
    }

    .headerPage {
        background-size: 180%;
        height: 300px;

    }

    .headerOpacity {

        max-height: 300px;

    }

    .headerPage h1 {
        font-size: 48px;
    }

    .container h2 {
        font-size: 48px;
    }

    .specialCard {
        background-size: 200% !important;
    }

    #image1 {
        width: 300px !important;
        height: 200px !important;
    }

    #image2 {
        height: 400px !important;
        width: 300px !important;
    }
    .container700{
        width: 300px;
    }
    .container500{
        width: 300px;
        margin: 0px;
    }
    .footer .containerMenu{
        width: 90%;
        margin-top: 50px;
        margin-bottom: 20px;
    } 
    .homeCarousel {
        background-position:center center ;
        /* background-size: 200%;    */
    }
    @keyframes zoominoutsinglefeatured {
        0% {
          background-size: 350%;
        }
        50% {
          background-size: 380%;
        }
      }

}