.textCenter {
  text-align: center;
}
.Right {
  display: flex;
  justify-content: right;
}
.center {
  justify-content: center;
  align-items: center;
  display: flex;
}
.Center {
  justify-content: center;
  display: flex;
}
.margin {
  margin: 10px;
}
.row {
  display: flex;
  flex-direction: row;
}
.wrap {
  flex-wrap: wrap;
}
.column {
  display: flex;
  flex-direction: column;
}
.spaceBetween {
  display: flex;
  justify-content: space-between;
}

.menu {
  margin: 10px;
  background-color: transparent;
  border: none;
  height: 30px;
  transition: text-decoration-color 1500ms;
  text-decoration: underline 2px rgba(202, 156, 94, 0);
}
.menu:hover {
  color: #ca9c5e;
  cursor: pointer;
  text-decoration-color: rgba(202, 156, 94, 1);
}
.pointer {
  cursor: pointer;
}
.order {
  background-color: #ca9c5e;
  color: white;
  border-radius: 5px;
  width: 100px;
}
.order:hover {
  background-color: #e3a452;
  color: white;
}
.image {
  height: 100px;
}
.containerImage {
  width: 580px;
}
.container {
  margin: 50px;
  width: 1140px;
}
.container700 {
  width: 700px;
  margin: 20px;
}
.container500 {
  width: 500px;
  margin: 20px;
}
.container300 {
  width: 300px;
  margin: 20px;
}
.container250 {
  width: 250px;
}
.card {
  width: 350px;
  height: 360px !important;

  margin: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.btn {
  width: 100px;
}
input {
  height: 40px;
  border-radius: 5px;
  border: 1px solid;
}
textarea {
  height: 40px;
  border-radius: 5px;
  border: 1px solid;
}
.message {
  height: 80px;
}
.orange {
  color: #ca9c5e;
}
.imageZone {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0% 0%;
  transition: all 1s ease-out 100ms;
}
.imageZone:hover {
  background-size: 110%;
  /* background-position: 50% 0%; */
}
.clip {
  clip: rect(10px, 190px, 190px, 10px);
}
.headerApp {
  position: fixed;
  top: 0;
  color: white;
  width: 100%;
  height: 150px;
}
.header {
  width: 90%;
}
.headerPage {
  /* height: 550px; */
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  background-position: center center;
}

.headerOpacity {
  background-color: rgba(0, 0, 0, 0.336);
  height: 550px;
  width: 100%;
}
.black{
  color: black;
}
.white {
  color: white;
}
.absolute {
  position: absolute;
}
.icon {
  height: 30px;
}
.offcanvamenu {
  background-color: #3d3d3d;
}
.picturesZone {
  /* display:flex; */
  /* justify-content: center; */
  width: 1125px;
}
.homeCarousel {
  
  width: 100%;
  height: 100vh;
  background-size: 250%;
  background-position: center center;
  background-repeat: no-repeat;
  animation: zoominoutsinglefeatured 10s ease-in;
}
@keyframes zoominoutsinglefeatured {
  0% {
    background-size: 250%;
  }
  50% {
    background-size: 260%;
  }
}
/* #carousel0 {
  background-image: url('../assets/images/more470/023\ copy.jpg');
  background-position: 50% 50% ;
}

#carousel1 {
  background-image: url('../assets/images/more470/015\ copy.jpg') ;
  background-position: 40% 50% ;
}

#carousel2 {
  background-image: url('../assets/images/more470/051\ copy.jpg') ;
  background-position: 60% 50% ;
}

#carousel3 {
  background-image: url('../assets/images/more470/017\ copy.jpg') ;
  background-position: 60% 50% ;
} */
.loading{
    position: fixed;
    background-color: rgb(184, 184, 184);
    font-size: 100px;
    height: 100vh;
    width: 100%;
    top: 0;
}
.onLoadPic {
    height: 0px;
    width: 0px;
    visibility: hidden;
}
.menuPic {
  border-radius: 10px;
    height: 100px;
    width: 100px;
}
.cardMenu {
    height: 250px;
    width: 45%;
    margin:10px;
}
.cardMenuPic {
    border-radius: 10px;
    height: 100px;
    /* width: 150px; */
    
}
.cardMenuPrice {
    border-radius: 10px;
    background-color: rgb(186, 186, 186);
    min-width: 60px;
    height: 30px;
    border: none;

}
.qrmenu {
  background-color: black;
  height: 100vh;
}
.backgroundBlack{
    background-color: black;
    margin-top: 145px;
    /* height: 100vh; */
}

.popupPic {
    height: 300px;
}
.carouselQrMenu {
    height: 300px;
    width: 300px;
}
.flex-container {
    overflow-x: auto;
    
    padding-bottom: 17px;
    display: flex;
    flex-wrap: nowrap;
}
.flex-container::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: rgb(0, 0, 0); 
   
  }
  .flex-container::-webkit-scrollbar-thumb {
    background: rgb(70, 70, 70);
    border-radius: 10px;
  }
  .line {
    height:200px;
    width: 0.1em;
    border-width:0;
    color:#ca9c5e;
    background-color:#ca9c5e;
  }
  .ReactModal__Overlay {
    z-index: 1 !important;
    background-color: rgba(117, 117, 117, 0.719) !important;
}
 

